<div class="dialog-container">

  <div class="dialog-header">

    <div class="dialog-icon">
      <mat-icon>
        {{ flag == 3 ? 'delete_outline' : 'explore' }}
      </mat-icon>
    </div>

    <div>
      <span class="dialog-label">ART OF TRAVEL</span>

      <h2>
        <span *ngIf="flag == 1">Nova destinacija</span>
        <span *ngIf="flag == 2">Izmena destinacije</span>
        <span *ngIf="flag == 3">Brisanje destinacije</span>
      </h2>

      <p *ngIf="flag == 2">
        {{ data.place }}
      </p>

      <p *ngIf="flag == 3">
        Da li ste sigurni da želite da obrišete ovu destinaciju?
      </p>
    </div>

  </div>


  <form
    class="dialog-form"
    #formControl="ngForm"
  >

    <!-- PLACE -->
    <mat-form-field appearance="outline">

      <mat-label>Mesto</mat-label>

      <mat-icon matPrefix>location_on</mat-icon>

      <input
        matInput
        name="Place"
        [disabled]="flag == 3"
        [(ngModel)]="data.place"
        required
      />

    </mat-form-field>


    <!-- COUNTRY -->
    <mat-form-field appearance="outline">

      <mat-label>Država</mat-label>

      <mat-icon matPrefix>public</mat-icon>

      <input
        matInput
        name="Country"
        [disabled]="flag == 3"
        [(ngModel)]="data.country"
        required
      />

    </mat-form-field>


    <!-- DESCRIPTION -->
    <mat-form-field appearance="outline">

      <mat-label>Opis destinacije</mat-label>

      <mat-icon matPrefix>description</mat-icon>

      <textarea
        matInput
        rows="4"
        name="Description"
        [disabled]="flag == 3"
        [(ngModel)]="data.description"
        required
      ></textarea>

    </mat-form-field>

  </form>


  <div class="dialog-actions">

    <button
      mat-button
      class="cancel-button"
      (click)="cancel()"
    >
      Otkaži
    </button>


    <button
      mat-raised-button
      class="save-button"
      *ngIf="flag == 1"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="add()"
    >
      <mat-icon>save</mat-icon>
      Sačuvaj
    </button>


    <button
      mat-raised-button
      class="save-button"
      *ngIf="flag == 2"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="update()"
    >
      <mat-icon>check</mat-icon>
      Sačuvaj izmene
    </button>


    <button
      mat-raised-button
      class="delete-confirm-button"
      *ngIf="flag == 3"
      mat-dialog-close="1"
      (click)="delete()"
    >
      <mat-icon>delete_outline</mat-icon>
      Obrisi
    </button>

  </div>

</div>