<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Add hotel</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Update hotel: {{ data.name }}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Delete hotel: {{ data.name }}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Name" name="Name" [disabled]="flag == 3" [(ngModel)]="data.name" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput type="number" min="1" max="5" placeholder="Number of stars" name="numberOfStars" [disabled]="flag == 3" [(ngModel)]="data.numberOfStars" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Description" name="description" [disabled]="flag == 3" [(ngModel)]="data.description" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [compareWith]="compareDestination" placeholder="Destination" name="destination" [disabled]="flag == 3" [(ngModel)]="data.destination" required>
          <mat-option *ngFor="let d of destinations" [value]="d">{{ d.place }}<ng-container *ngIf="d.country"> ({{ d.country}})</ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div class="mat-dialog-actions">
    <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Save</button>
    <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid"(click)="update()">Update</button>
    <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Delete</button>
    <button matButton (click)="cancel()">Cancel</button>
  </div>
</div>
