<div class="dialog-container">

  <div class="dialog-header">

    <div class="dialog-icon hotel-icon">
      <mat-icon>
        {{ flag == 3 ? 'delete_outline' : 'hotel' }}
      </mat-icon>
    </div>

    <div>
      <span class="dialog-label">ART OF TRAVEL</span>

      <h2>
        <span *ngIf="flag == 1">Novi hotel</span>
        <span *ngIf="flag == 2">Izmena hotela</span>
        <span *ngIf="flag == 3">Brisanje hotela</span>
      </h2>

      <p *ngIf="flag == 2">
        {{ data.name }}
      </p>

      <p *ngIf="flag == 3">
        Da li ste sigurni da želite da obrišete ovaj hotel?
      </p>
    </div>

  </div>


  <form
    class="dialog-form"
    #formControl="ngForm"
  >

    <!-- NAME -->
    <mat-form-field appearance="outline">

      <mat-label>Naziv hotela</mat-label>

      <mat-icon matPrefix>hotel</mat-icon>

      <input
        matInput
        name="Name"
        [disabled]="flag == 3"
        [(ngModel)]="data.name"
        required
      />

    </mat-form-field>


    <!-- STARS -->
    <mat-form-field appearance="outline">

      <mat-label>Kategorija hotela</mat-label>

      <mat-icon matPrefix>star</mat-icon>

      <input
        matInput
        type="number"
        min="1"
        max="5"
        name="numberOfStars"
        [disabled]="flag == 3"
        [(ngModel)]="data.numberOfStars"
        required
      />

      <span matSuffix>
        zvezdica
      </span>

    </mat-form-field>


    <!-- DESCRIPTION -->
    <mat-form-field appearance="outline">

      <mat-label>Opis hotela</mat-label>

      <mat-icon matPrefix>description</mat-icon>

      <textarea
        matInput
        rows="4"
        name="description"
        [disabled]="flag == 3"
        [(ngModel)]="data.description"
        required
      ></textarea>

    </mat-form-field>


    <!-- DESTINATION -->
    <mat-form-field appearance="outline">

      <mat-label>Destinacija</mat-label>

      <mat-icon matPrefix>location_on</mat-icon>

      <mat-select
        name="destination"
        [disabled]="flag == 3"
        [(ngModel)]="data.destination"
        [compareWith]="compareDestination"
        required
      >

        <mat-option
          *ngFor="let d of destinations"
          [value]="d"
        >

          <span class="destination-option">

            <strong>
              {{ d.place }}
            </strong>

            <span *ngIf="d.country">
              {{ d.country }}
            </span>

          </span>

        </mat-option>

      </mat-select>

    </mat-form-field>

  </form>


  <!-- ACTIONS -->
  <div class="dialog-actions">

    <button
      mat-button
      class="cancel-button"
      (click)="cancel()"
    >
      Otkaži
    </button>


    <button
      mat-raised-button
      class="save-button"
      *ngIf="flag == 1"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="add()"
    >
      <mat-icon>save</mat-icon>
      Sačuvaj
    </button>


    <button
      mat-raised-button
      class="save-button"
      *ngIf="flag == 2"
      type="submit"
      mat-dialog-close="1"
      [disabled]="!formControl.valid"
      (click)="update()"
    >
      <mat-icon>check</mat-icon>
      Sačuvaj izmene
    </button>


    <button
      mat-raised-button
      class="delete-confirm-button"
      *ngIf="flag == 3"
      mat-dialog-close="1"
      (click)="delete()"
    >
      <mat-icon>delete_outline</mat-icon>
      Obrisi
    </button>

  </div>

</div>